.faded {
	opacity: .5;
}
.blue {
	color: #1b91ff;
}
.red {
	color: #ff2c2d;
}
.reveal pre {
	padding: 1em;
	background-color: rgba(255,255,255,.05);
	tab-size: 4;
	width: 75%;
}
.reveal pre code {
	background-color: transparent;
}
.reveal .btn {
	display: inline-block;
	background-color: #42affa;
	color: #fff;
	padding: .25em .5em;
	border-radius: .25em;
	transition: .15s ease;
}
.reveal .btn:hover {
	color: #fff;
	background-color: #8dcffc;
}
.reveal img.bullet-img {
	box-shadow: none;
	border: none;
	background: none;
	height: 2em;
	vertical-align: middle;
}
